doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport",value="width=device-width;initial-scale=1.0")

		// Scripts
		// Styles
		link(rel="stylesheet",type="text/css",href="/styles/index.css")

		title Assuage Solutions | #{title}
	body
		include static/header.pug

		block page-content

		include static/footer.pug